{
  "extends": "stylelint-config-standard-scss",
  "plugins": [
    "stylelint-selector-bem-pattern",
    "stylelint-csstree-validator"
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "componentName": "[A-Z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+)?$",
        "combined": "^\\.combined-{componentName}-[a-z]+$"
      },
      "utilitySelectors": "^\\.util-[a-z]+$"
    },
    "block-no-empty": null,
    "csstree/validator": {
      "syntaxExtensions": [
        "sass",
        "less"
      ]
    }
  }
}
