.container-fluid {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  max-width: 1400px;
  margin: 0 1rem;
}

.row {
  display: flex;
}
